# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.DS_Store

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/
staticfiles/

# PowerPoint
*~$*.pptx
templates_source/
